[Unit]
Description=trilium-notes
After=multi-user.target

[Container]
ContainerName=trilium-notes
Image=ghcr.io/triliumnext/notes:stable
PublishPort=10000:8080/tcp
Environment=TRILIUM_DATA_DIR=/home/node/trilium-data
Environment=LOG_LEVEL=critical
Volume=trilium-notes.volume:/home/node/trilium-data:Z
Volume=/etc/localtime:/etc/localtime:ro
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=1800

[Install]
WantedBy=default.target
