[Unit]
Description=Timer to check NAS availability
After=network-online.target

[Timer]
Unit=nas-monitor.service
OnBootSec=2min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
