[Unit]
Description=NFS Share
DefaultDependencies=no
Conflicts=umount.target
After=network-online.target local-fs.target
After=tailscaled.service
Requires=network-online.target local-fs.target
Before=umount.target
[Mount]
What=nas.home:/mnt/Pool1/devices/linux
Where=/var/mnt/nas
Type=nfs
Options=defaults,fsc
TimeoutSec=10
[Install]
WantedBy=remote-fs.target
