[Unit]
Description=NFS Share
DefaultDependencies=no
Conflicts=umount.target
After=network-online.target local-fs.target
Requires=network-online.target local-fs.target
Before=umount.target
[Mount]
What=nas.home:/mnt/Pool1/Media/roms
Where=/var/mnt/roms
Type=nfs
Options=defaults,fsc,soft
ForceUnmount=on
TimeoutSec=10
[Install]
WantedBy=remote-fs.target
