[Unit]
Description=Set CPU governor to conservative
After=battery.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower frequency-set -g conservative

