[Unit]
Description=Configure kargs
After=rpm-ostreed.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/desktop-kargs

[Install]
WantedBy=multi-user.target
